<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StudentOrderMapper">

    <resultMap type="StudentOrder" id="StudentOrderResult">
        <result property="studentOrderId"    column="student_order_id"    />
        <result property="orderDate"    column="order_date"    />
        <result property="subjectName"    column="subject_name"    />
        <result property="uId"    column="u_id"    />
        <result property="studentId"    column="student_id"    />
        <result property="roomId"    column="room_id"    />
        <result property="timeId"    column="time_id"    />
    </resultMap>

    <sql id="selectStudentOrderVo">
        select student_order_id, order_date, subject_name, u_id, student_id, room_id, time_id from student_order
    </sql>

    <select id="selectStudentOrderList" parameterType="StudentOrder" resultMap="StudentOrderResult">
        <include refid="selectStudentOrderVo"/>
        <where>
            <if test="orderDate != null "> and order_date = #{orderDate}</if>
            <if test="subjectName != null  and subjectName != ''"> and subject_name like concat('%', #{subjectName}, '%')</if>
            <if test="studentId != null  and studentId != ''"> and student_id = #{studentId}</if>
            <if test="roomId != null "> and room_id = #{roomId}</if>
            <if test="timeId != null "> and time_id = #{timeId}</if>

        </where>
    </select>

    <select id="selectStudentOrderByStudentOrderId" parameterType="String" resultMap="StudentOrderResult">
        <include refid="selectStudentOrderVo"/>
        where student_order_id = #{studentOrderId}
    </select>

    <insert id="insertStudentOrder" parameterType="StudentOrder">
        insert into student_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentOrderId != null">student_order_id,</if>
            <if test="orderDate != null">order_date,</if>
            <if test="subjectName != null and subjectName != ''">subject_name,</if>
            <if test="uId != null and uId != ''">u_id,</if>
            <if test="studentId != null and studentId != ''">student_id,</if>
            <if test="roomId != null">room_id,</if>
            <if test="timeId != null">time_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentOrderId != null">#{studentOrderId},</if>
            <if test="orderDate != null">#{orderDate},</if>
            <if test="subjectName != null and subjectName != ''">#{subjectName},</if>
            <if test="uId != null and uId != ''">#{uId},</if>
            <if test="studentId != null and studentId != ''">#{studentId},</if>
            <if test="roomId != null">#{roomId},</if>
            <if test="timeId != null">#{timeId},</if>
         </trim>
    </insert>

    <update id="updateStudentOrder" parameterType="StudentOrder">
        update student_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderDate != null">order_date = #{orderDate},</if>
            <if test="subjectName != null and subjectName != ''">subject_name = #{subjectName},</if>
            <if test="uId != null and uId != ''">u_id = #{uId},</if>
            <if test="studentId != null and studentId != ''">student_id = #{studentId},</if>
            <if test="roomId != null">room_id = #{roomId},</if>
            <if test="timeId != null">time_id = #{timeId},</if>
        </trim>
        where student_order_id = #{studentOrderId}
    </update>

    <delete id="deleteStudentOrderByStudentOrderId" parameterType="String">
        delete from student_order where student_order_id = #{studentOrderId}
    </delete>

    <delete id="deleteStudentOrderByStudentOrderIds" parameterType="String">
        delete from student_order where student_order_id in
        <foreach item="studentOrderId" collection="array" open="(" separator="," close=")">
            #{studentOrderId}
        </foreach>
    </delete>
</mapper>
